
			<footer class="clear">				
				
				<div class="footer">
					<div class="wrapper">
						<div class="clearfix">
							<div class="f-col f-left">
								<div class="f-logo"></div>
								
								<div class="f-box">
									<div class="f-title">Have a question?</div>
									<ul>
										<li class="f-li-call"><span class="f-call"></span>Call us (415) 390-5941</li>
										<li><a href="javascript:void(0);" onclick="olark('api.box.expand');"><span class="f-chat"></span>Chat with support</a></li>
									</ul>
								</div>
								<div class="f-copyright">&copy; 2013 LegalCzar, Inc.</div>
							</div>


							<div class="f-col f-mid">
								<div class="f-title">Navigation</div>
								<ul class="clearfix">
									<li><a href="#">About</a></li>
									<li><a href="#">For Attorneys</a></li>
									<li><a href="#">Careers</a></li>
									<li><a href="#">Guides &amp; Docs</a></li>
									<li><a href="#">Contact</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="http://www.legalczar.com/blog" target="_blank">Blog</a></li>
									<li><a href="#">Terms of Use</a></li>
								</ul>
							</div>

							<div class="f-col f-right">
								
								<div class="f-title">Follow Us</div>
								<ul class="f-social-media clearfix">
									<li><a href="http://www.facebook.com/legalczar" target="_blank" title="Like us on Facebook"><span class="f-facebook">Facebook</span></a></li>
									<li><a href="http://twitter.com/legalczar" target="_blank" title="Follow us on Twitter"><span class="f-twitter">Twitter</span></a></li>
									<li><a href="http://www.linkedin.com/company/" target="_blank" title="Connect with us on LinkedIn"><span class="f-linkedin">LinkedIn</span></a></li>
									<li><a href="https://plus.google.com/s/legalczar" target="_blank" title="Circle us on Google+"><span class="f-googleplus">Google+</span></a></li>
								</ul>
								
							</div>

							<div class="f-disclaimer">LegalCzar is an interactive online service that makes it faster and easier for businesses to find and hire legal help solely based on their preferences. We are not a law firm, do not provide any legal services, legal advice or "lawyer referral services" and do not provide or participate in any legal representation.</div>

						</div>
					</div>
				</div>
			</footer>


		