
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Work with lawyers online | legalczar</title>
	{% load staticfiles %}
	<link rel="shortcut icon" href="/static/mainsite/img/favicon.ico" />
	<link rel="canonical" href="https://{{ domain }}/"/>

	<!-- opengraph for facebook -->
	<meta property="og:url" content="https://{{ domain }}/" />
	<meta property="og:site_name" content="{{ domain }}" />
	<meta property="og:title" content="Work with lawyers online | legalczar" />
	<meta property="og:description" content="" />
	<meta property="og:image" content="https://{{ domain }}/static/mainsite/img/shareImg.jpg"/>
	<title>The Easiest Way to Get Amazing Legal Services | legalczar</title>
	<!-- opengraph for facebook ends-->

	<meta name="description" content="We get you price quotes right away from screened and vetted lawyers to get you high quality legal services & legal advice. We save you time and money getting the best lawyer. " />

	<!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="/static/mainsite/css/style{{style}}.css">
	<link rel="stylesheet" type="text/css"  href="/static/mainsite/css/scroll.css"/>  
	<link rel="stylesheet" type="text/css"  href="/static/mainsite/css/tab.css"/>  
	<!--Lawding code 
	<link rel="stylesheet" type="text/css" href="/static/mainsite/css/ld1.css" />
	<link rel="stylesheet" type="text/css" href="/static/mainsite/css/ld2.css" />
	-->
    <!-- style sheet ends  -->

</head>
<body>

	<header>
		<div class="header">
			<div class="wrapper">
				<a href="/" class="h-logo"></a>
				<nav>
					<ul class="h-nav">
						<li><a href="/Public/NewJob" class="h-post-a-job">Post a Job</a></li>
						<li><a href="/HowItWorks">How It Works</a></li>
						<li><a href="/Public/OurAttorneys">Find Attorneys</a></li>
					</ul>
					<div class="h-login">

						<div class="h-call">
							<span class="h-phone"></span>
							(415) 390-5941
						</div>

						<ul class="h-subnav">
							<li><a href="/Account/Register">Register</a></li>
							<li><a href="/Account/LogOn">Login</a></li>
						</ul>

					</div>
				</nav>
			</div>
		</div>
	</header>
	<section>
		<div class="hp-hero" data-type="background" data-speed="10">
			<div class="wrapper">
				<div class="hp-cta-box">
					<h1 class="hp-headline">Work with lawyers online.</h1>
					<p class="hp-subline">Find and work with the right lawyer for you, without leaving home.</p>
					<!--ref="/Public/NewJob" class="btn big-btn hp-cta-btn">Post a Legal Job. It's Free!</a>-->
				</div>
				<div class="hp-search">

						




						<!--<div class="hp-press">As Seen In<span class="hp-press-logos"></span></div>-->
					</div>
				</div>
			</section>
			<div class="hp-attorney-msg">
				<div class="l1">Are you a top attorney or patent agent? </div>
				<div class="l2">Start your virtual practice today. <a href="/Home/ForAttorneys" id="aForAttorney">Learn more</a></div>
			</div>

			<section>
				<div class="section divider">
					<div class="wrapper">
						<h3>Experienced Marketplace Attorneys</h3>
						<div class="hp-stats clearfix">
							<div class="hp-stat">
								<div class="highlight">
									<strong>11 years</strong>
								</div>
								Average experience
							</div>
							<div class="hp-stat">
								<div class="highlight">
									<strong>4.9 stars out of 5</strong>
								</div>
								Average legalczar rating
							</div>
							<div class="hp-stat">
								<div class="highlight">
									<strong>1000+</strong>
								</div>
								Businesses served
							</div>
						</div>
						<div class="hp-law-firms">
							<p>Top legalczar attorneys have worked at</p>
							<span class="wsgr">Wilson Sonsini Goodrich and Rosati</span>
							<span class="fenwick-west">Fenwick and West</span>
							<span class="baker-mckenzie">Baker and McKenzie</span>
							<span class="white-case">White and Case</span>
							<span class="latham-watkins">Latham and Watkins</span>
							<span class="skadden">Skadden</span>
							<span class="dla-piper">DLA Piper</span>
						</div>
					</div>
				</div>	
			</section>
			
			<section>
				<div class="section divider">
					<div class="wrapper">
						<h3>Featured Lawyers</h3>
						  <ul class='jcarousel-skin-mini-profiles' id='mini-profiles_carousel'>
<li>
						
							<div class="hp-profile">
								<div class="hp-profile-card">
									<div class="hp-profile-left">
										<img src="/static/mainsite/img/v8/tali.jpg" alt="Tali Buchman" />
										Tali Buchman
									</div>
									<div class="hp-profile-right">
										<div class="hp-rating">
											<span class="rating-big-static rating-big-5_0"></span>5 star rating out of 12 jobs
										</div>
										<div class="hp-profile-stat">
											<span class="icon-20px icon-20px-experience"></span>16 years experience
										</div>
										<div class="hp-profile-stat">
											<span class="icon-20px icon-20px-company"></span>Principal at Boutique Firm
										</div>
									</div>
								</div>
							</div> </li>
							<li><div class="hp-profile">
								<div class="hp-profile-card no-margin">
									<div class="hp-profile-left">
										<img src="/static/mainsite/img/v8/carl.jpg" alt="Carl Loeffler" />
										Carl Loeffler
									</div>
									<div class="hp-profile-right">
										<div class="hp-rating">
											<span class="rating-big-static rating-big-5_0"></span>5 star rating out of 6 jobs
										</div>
										<div class="hp-profile-stat">
											<span class="icon-20px icon-20px-experience"></span>15 years experience
										</div>
										<div class="hp-profile-stat">
											<span class="icon-20px icon-20px-company"></span>Former Big-Law Associate
										</div>
									</div>
								</div>
							</div></li>
							<li><div class="hp-profile">
								<div class="hp-profile-card">
									<div class="hp-profile-left">
										<img src="/static/mainsite/img/v8/archie.jpg" alt="Archie Wright" />
										Archie Wright
									</div>
									<div class="hp-profile-right">
										<div class="hp-rating">
											<span class="rating-big-static rating-big-5_0"></span>5 star rating out of 7 jobs
										</div>
										<div class="hp-profile-stat">
											<span class="icon-20px icon-20px-experience"></span>39 years experience
										</div>
										<div class="hp-profile-stat">
											<span class="icon-20px icon-20px-company"></span>Former Law Firm Partner
										</div>
									</div>
								</div>
							</div></li>
							<li><div class="hp-profile">
								<div class="hp-profile-card no-margin">
									<div class="hp-profile-left">
										<img src="/static/mainsite/img/v8/jacob.jpg" alt="Jacob Kiani" />
										Jacob Kiani
									</div>
									<div class="hp-profile-right">
										<div class="hp-rating">
											<span class="rating-big-static rating-big-5_0"></span>5 star rating out of 5 jobs
										</div>
										<div class="hp-profile-stat">
											<span class="icon-20px icon-20px-experience"></span>6 years experience
										</div>
										<div class="hp-profile-stat">
											<span class="icon-20px icon-20px-company"></span>Former Big-Law Associate
										</div>
									</div>
								</div>
							</div></li></ul>
						</div>
					
				</div>
			</section>

			<section>
				<div class="section">
					<div class="wrapper">
						<h3>Why Use legalczar?</h3>
						<div class="clearfix">
							<div class="hp-val">
								<span class="hp-val-icon">
									<span class="hp-star"></span>
								</span>
								<h4>Powered by Quality</h4>
								<p>Marketplace attorneys must pass our screening and have detailed profiles so you can choose based on desired price, experience and client reviews.</p>
							</div>
							<div class="hp-val">
								<span class="hp-val-icon">
									<span class="hp-piggy"></span>
								</span>
								<h4>Cost Effective</h4>
								<p>Get great rates from a diverse, experienced and tech-savvy legal workforce competing for your business. (No law firm overhead!).</p>
							</div>
							<div class="hp-val">
								<span class="hp-val-icon">
									<span class="hp-plane"></span>
								</span>
								<h4>Hassle Free</h4>
								<p>We make it fast and easy to find, hire and manage legal help, and back it up with our Guarantee.</p>
							</div>
							<div class="hp-val">
								<span class="hp-val-icon">
									<span class="hp-lock"></span>
								</span>
								<h4>Secure and Confidential</h4>
								<p>We safeguard your privacy. Jobs posted are only visible to professionals in our marketplace. Payments are simple and secure.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="section alt">
					<div class="wrapper">
						<h3>How It Works</h3>
						<div class="hp-hiw clearfix">
							<div class="hp-step">
								<div class="hp-step-icon hp-post-job"></div>
								<h4>1. Post a job for free</h4>
							</div>
							<div class="hp-step">
								<div class="hp-step-icon hp-get-quotes"></div>
								<h4>2. Get quotes and hire</h4>
							</div>
							<div class="hp-step last">
								<div class="hp-step-icon hp-manage-pay"></div>
								<h4>3. Manage and pay</h4>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section>
				<div class="section divider">
					<div class="wrapper">
						<h3>Testimonials</h3>
						<div class="clearfix">
							<div class="hp-task business-formation" id="t1">
								<a class="hp-task-slide">
									<span class="hp-task-title">
										<span class="hp-saved">Saved $4,000</span>
										Business Formation
									</span>
									<span class="rating-big-static rating-big-5_0"></span>
									<p>Our experience with legalczar and [our lawyer] has been great. He was able to address our concerns, assist us with our formation, and been enthusiastic about our project.</p>
									<span class="hp-task-client">
										- Sarah & Rob<br />Retail Franchisees
									</span>
								</a>
							</div>
							<div class="hp-task business-formation" id="t2">
								<a class="hp-task-slide">
									<span class="hp-task-title">
										<span class="hp-saved">Saved $5,000</span>
										Real Estate Transactions
									</span>
									<span class="rating-big-static rating-big-5_0"></span>
									<p>[My lawyer] was extremely knowledgeable about real estate law and super easy to talk to. She took the time, asked questions and really understood my needs. I will definitely be back!</p>
									<span class="hp-task-client">- Mina M.<br />VP at Global Asset Management Co.</span>
								</a>
							</div>
							<div class="hp-task business-formation no-margin" id="t3">
								<a class="hp-task-slide">
									<span class="hp-task-title">
										<span class="hp-saved">Saved $6,000</span>
										Technology Agreements
									</span>
									<span class="rating-big-static rating-big-5_0"></span>
									<p>[Our attorney] did a great job helping out with my contract - quick and painless experience! She understands the SaaS space well and pointed out the necessary items that I will need to include.</p>
									<span class="hp-task-client">- Dharshan R.<br />Executive at High Tech Startup</span>
								</a>
							</div>
							<div class="hp-task business-formation" id="t4">
								<a class="hp-task-slide">
									<span class="hp-task-title">
										<span class="hp-saved">Saved $15,000</span>
										Ongoing Corp. Counsel
									</span>
									<span class="rating-big-static rating-big-5_0"></span>
									<p>We are so happy to have found [our lawyer] on legalczar. Maintaining our Minute Book and keeping track of corporate legal work is no longer a nightmare.</p>
									<span class="hp-task-client">- Tristian M.<br />COO at Technology Consulting Firm </span>
								</a>
							</div>
							<div class="hp-task business-formation" id="t5">
								<a class="hp-task-slide">
									<span class="hp-task-title">
										<span class="hp-saved">Saved $2,000</span>
										Business Visa
									</span>
									<span class="rating-big-static rating-big-5_0"></span>
									<p>legalczar is a powerful resource. In just 3 days we were able to enlist top immigration attorneys with competitive rates to help over 60 international entrepreneurs attend an event in the US.</p>
									<span class="hp-task-client">- Sam O.<br />Executive at International Accelerator</span>
								</a>
							</div>
							<div class="hp-task business-formation no-margin" id="t6">
								<a class="hp-task-slide">
									<span class="hp-task-title">
										<span class="hp-saved">Saved $1,000</span>
										Part-Time Legal Staff
									</span>
									<span class="rating-big-static rating-big-5_0"></span>
									<p>The lawyers on legalczar are great to scale my practice for larger projects and legal research or writing. I can always find the right people and their customer support is amazing.</p>
									<span class="hp-task-client">- Eli B.<br />Small Law Firm Practitioner</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			


			<footer class="clear">
				<!-- Google Code for Remarketing tag -->
				<script type="text/javascript">
					/* <![CDATA[ */
					var google_conversion_id = 1013333353;
					var google_conversion_label = "X8FDCKfo9gIQ6fqY4wM";
					var google_custom_params = window.google_tag_params;
					var google_remarketing_only = true;
					/* ]]> */
				</script>
				<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
				</script>
				<noscript>
					<div style="display:inline;">
						<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1013333353/?value=0&amp;label=X8FDCKfo9gIQ6fqY4wM&amp;guid=ON&amp;script=0"/>
					</div>
				</noscript>
				<div class="footer">
					<div class="wrapper">
						<div class="clearfix">
							<div class="f-col f-left">
								<div class="f-logo"></div>
								
								<div class="f-box">
									<div class="f-title">Have a question?</div>
									<ul>
										<li class="f-li-call"><span class="f-call"></span>Call us (415) 390-5941</li>
										<li><a href="javascript:void(0);" onclick="olark('api.box.expand');"><span class="f-chat"></span>Chat with support</a></li>
									</ul>
								</div>
								<div class="f-copyright">&copy; 2013 LegalCzar, Inc.</div>
							</div>


							<div class="f-col f-mid">
								<div class="f-title">Navigation</div>
								<ul class="clearfix">
									<li><a href="/Home/About">About</a></li>
									<li><a href="/Home/ForAttorneys">For Attorneys</a></li>
									<li><a href="/Home/Careers">Careers</a></li>
									<li><a href="/Public/GuidesAndDocuments?t=Documents">Guides &amp; Docs</a></li>
									<li><a href="/Home/Contact">Contact</a></li>
									<li><a href="/Free-Legal/Document/29/legalczar-Inc.-Privacy-Policy">Privacy Policy</a></li>
									<li><a href="http://blog.legalczar.com" target="_blank">Blog</a></li>
									<li><a href="/Free-Legal/Document/28/legalczar-Inc.-Terms-of-Use-Effective-as-of-June-22-2012-">Terms of Use</a></li>
								</ul>
							</div>

							<div class="f-col f-right">
								
								<div class="f-title">Follow Us</div>
								<ul class="f-social-media clearfix">
									<li><a href="http://www.facebook.com/legalczar" target="_blank" title="Like us on Facebook"><span class="f-facebook">Facebook</span></a></li>
									<li><a href="http://twitter.com/legalczar" target="_blank" title="Follow us on Twitter"><span class="f-twitter">Twitter</span></a></li>
									<li><a href="http://www.linkedin.com/company/2450634?trk=tyah" target="_blank" title="Connect with us on LinkedIn"><span class="f-linkedin">LinkedIn</span></a></li>
									<li><a href="https://plus.google.com/s/legalczar" target="_blank" title="Circle us on Google+"><span class="f-googleplus">Google+</span></a></li>
								</ul>
								
							</div>

							<div class="f-disclaimer">LegalCzar is an interactive online service that makes it faster and easier for businesses to find and hire legal help solely based on their preferences. We are not a law firm, do not provide any legal services, legal advice or "lawyer referral services" and do not provide or participate in any legal representation.</div>

						</div>
					</div>
				</div>
			</footer>


<!-- JS Include -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script> 
<script src="/static/mainsite/js/ld.js"></script>
<!-- <script type="text/javascript" src="/static/mainsite/js/jquery.jcarousel.min.js" /> -->
<!-- Bootstap
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
-->
<!-- JS ends  -->

<!-- Theme js for reposnive  -->
<script type="text/javascript">
		var transformProps = ["-webkit-transform", "-moz-transform", "-ms-transform", "-o-transform", "transform"];
		$(document).ready(function() {
			var $window = $(window), nav_btn = $('.h-post-a-job'),
			cta_btn = $(".hp-cta-btn").length > 0 ? $(".hp-cta-btn").offset().top : null;
			$window.scroll(function() {
				var scrollTop = $(document).scrollTop();
				if (scrollTop >= cta_btn) {
					nav_btn.addClass('active');
				} else {
					nav_btn.removeClass('active');
				}
			});

			var transformVal = "translate(0, -144px)";
			var opened = [$(".hp-task#t1 .hp-task-slide"), $(".hp-task#t3 .hp-task-slide"), $(".hp-task#t5 .hp-task-slide")];
			opened.forEach(function(item) {
				transformProps.forEach(function(prop) {
					item.css(prop, transformVal);
				});
				item.one("mouseover", function() {
					removeTransform($(this));
				});
			});
		});

		function removeTransform(t) {
			transformProps.forEach(function (prop) {
				t.css(prop, '');
			});
		}
	</script>
	<script type="text/javascript">
		$(document).ready(function () {
			var $window = $(window);
			
			$('.hp-hero[data-type="background"], .fa-hero[data-type="background"]').each(function () {
				var $bgobj = $(this);

				$window.scroll(function () {
					var yPos = -($window.scrollTop() / $bgobj.data('speed')), coords = yPos + 78 + 'px';
					$bgobj.css({ backgroundPosition: '50% ' + coords });
				});
			});

			$('.f-select').click(function () {
				if (!$(this).hasClass('active')) {
					$('.f-select').removeClass('active');
				}
				$(this).toggleClass('active');
			});
		});
	</script>	
<!-- Theme js for reposnive  ends -->
	<script>
		$(function () {
			$('#sTab').tabs();
		})
	</script>

<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('9913-410-10-4631');/*]]>*/</script><noscript><a href="https://www.olark.com/site/9913-410-10-4631/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->


		</body>
		</html>