{% extends "base.html" %}

{% block head_title %}{{ profile.user.first_name }}'s Profile | LegalCzar {% endblock %}

{% block content %}

{% load avatar_tags %}
<div class="container">
	<div class="row-fluid">
		<!-- <div class="span1"></div> -->
		<div class="span3">
			<!-- <div class="dialog"> -->
			<!-- {% avatar profile.user 200 "img-rounded" %} -->
			<!-- <p class="img-comment"><strong>{{ profile.user.first_name }} {{ profile.user.last_name }}</strong> </p> -->
			<!-- </div> -->

			<!-- <a href="{% url 'avatar_change' %}">Change your avatar</a> -->

			<ul class="nav nav-list nav-list-vivid">
				<li class="nav-header"> {% avatar profile.user 200 "img-rounded" %}</li>
				<li class="divider"></li>
				<li class="nav-header">{{ profile.user.first_name }}'s Details <i class="icon-map-marker"></i></li>

				<li><span class="fui-location pvs prm"></span>{{ profile.city }}, {{ profile.state }}</li>
				<li><span class="fui-check-inverted pvs prm"></span>Verified </li>



				<li><a id='review' href="/app/review/{{ profile.user.username }}/" class="iframe btn btn-primary">Review</a> </li>
				
				<li class="active">
					<a href="#fakelink">
						Photography
						<span class="nav-counter">130</span>
					</a>
				</li>
				<li>
					<a href="#fakelink">
						Art
						<span class="nav-counter">9</span>
					</a>
				</li>
				<li class="divider"></li>
				<li class="nav-header">Condition</li>
				<li>
					<a href="#fakelink">
						Brand new
						<span class="nav-counter">69</span>
					</a>
				</li>
				<li>
					<a href="#fakelink">
						Read-used
						<span class="nav-counter">21</span>
					</a>
				</li>
				<li>
					<a href="#fakelink">
						Work-used
						<span class="nav-counter">40</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="span8">

			<h2> 
<!--    		{{ profile.user.first_name }} {{ profile.user.last_name }} -->
			</h2>
<h3>
				                {{ profile.user.username}} 
</h3>
			
<p class="lead orange"> 
<!-- <span class="fui-user"></span> -->
{{ profile.user.get_full_name}}, 
{% if profile.gender == 'M' %}
     Male
{% else %}
     Female
{% endif %}
</p>
<blockquote><p class="greensea">
<span class="fui-location"> </span></br>
{{ profile.street_line1 }}, {{ profile.street_line2 }}
<br>
{{ profile.city }} - {{ profile.zipcode }}
<br>
{{ profile.state }}
</p></blockquote>


<blockquote><p class="greensea">
<span class="fui-mic"></span></br>
    {{ profile.landline }}
<br>
    {{ profile.mobile }}
</p></blockquote>
<!--
			{% for name, value in profile.get_fields %}
			<div class="row-fluid">
		          <div class="span4"><h5>{{ name }}:</h5></div>

		          <div class="span8 lead">{{ value|default:" -- " }} </div>
		       </div>
			{% endfor %}
-->
			{% if profile.profile == 'lawyer' %}
				{% for name, value in profile.lawyerprofile.get_fields %}
				
				<div class="row-fluid">
		          <div class="span4"><h5>{{ name }}:</h5></div>

		          <div class="span8 lead">{{ value|default:"Not available" }} </div>
		       </div>
				{% endfor %}
			
			{% endif %}

		</div>
	</div>

</div>

{% endblock %}
